/* Reminder: #root is simply the ID of a div inside <body>, inside <html> (:root) */
#root {
    max-width: 1280px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    padding: 20px;
    display: flex;
}
